:root {
    /* primary color */
    --header-background: #0e021a;
    --header-text-color: #bdbdbd;
    --navbar-background: #1f0039;
    --navbar-text-color: #cbcbcb;
    --footer-background: #03171a;
    --footer-text-color: #9d9d9d;
    --sidebar-background: #100527f5;
    --sidebar-text-color: #cbcbcb;
    --main-background: #352b4c;
    --main-text-color: #cbcbcb;
    --fake-image-background: #0e061a;
    --theme-changer-background: #efe9f6;
}

* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Header/logo Title */
.header {
    padding: 80px;
    text-align: center;
    background: var(--header-background);
    color: var(--header-text-color);
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: var(--navbar-background);
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: var(--navbar-text-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Column container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: var(--sidebar-background);
    color: var(--sidebar-text-color);
    padding: 20px;
}

/* Main column */
.main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: var(--main-background);
    color: var(--main-text-color);
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: var(--fake-image-background);
    width: 100%;
    padding: 20px;
}

/* Footer */
.footer {
    padding: 60px 20px 40px;
    text-align: center;
    background: var(--footer-background);
}

.footer-column-container {
    max-width: 700px;
    margin: 0 auto;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    -ms-flex-pack: justify; /* IE10 */
    justify-content: space-between;
}

.footer-column {
    display: grid;
    grid-gap: 20px;
}


.footer-column a{
    color: var(--footer-text-color);
    text-decoration: none;
    font-weight: 800;
}

.copyright-text{
    padding-top: 20px;
    font-size: 16px;
    color: var(--footer-text-color);
    font-weight: 800;
}

.theme-changer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--theme-changer-background);
    width: 40px;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;
}

.light-theme .dark-theme-changer {
    display: none;
}

.dark-theme .light-theme-changer {
    display: none;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}